{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item mt-3">
            <a class="nav-link " data-toggle="modal" data-target="#addingacustomer" data-whatever="@mdo">
                <svg class="bi bi-plus-circle mr-2" width="25px" height="25px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                </svg>
              Add a customer <span class="sr-only">(current)</span>
            </a>                

          </li>
          <li class="nav-item mt-3">
            <a class="nav-link" data-toggle="modal" data-target="#addingbatchofcustomers" data-whatever="@mdo">
                <svg class="bi bi-file-plus mr-2" width="25px" height="25px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V8h-1v5a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5V1z"/>
                    <path fill-rule="evenodd" d="M13.5 1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V1.5a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M13 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                </svg>
              Add a batch of customers
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <span>Hi {{request.user.username | capfirst}}</span>
      </div>
      {% if customers %}
        <h2 class="mt-5">Existing customers</h2>
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Age</th>
              <th scope="col">Gender</th>
              <th scope="col">Contact</th>
            </tr>
          </thead>
        {% else %}
          <h2 class="mt-5">No existing customer as of now !</h2>
        {% endif %}
          <tbody>
              {% for customer in customers %}
                <tr>
                  <th scope="row">{{forloop.counter}}</th>
                  <td>
                    <a href="{{ customer.get_absolute_url }}" class="text-muted" >
                      <strong>
                        {{customer.name}}
                      </strong>
                    </a>
                  </td>
                  <td>{{customer.age}}</td>
                  <td>{{customer.gender}}</td>
                  <td>{{customer.contact}}</td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

<!-- Popup form for adding a customer -->

<div class="modal fade" id="addingacustomer" tabindex="-1" role="dialog" aria-labelledby="addingacustomer" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add customer details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form action="{% url 'add_a_customer' %}" method="POST">
                {% csrf_token %}
                {{form}}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </form>
          </div>
        </div>
    </div>
</div>

<!-- Popup form for adding a batch of customers -->

<div class="modal fade" id="addingbatchofcustomers" tabindex="-1" role="dialog" aria-labelledby="addingbatchofcustomers" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Choose a csv file</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form action="{% url 'add_batch_of_customers' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{batchform}}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </form>
          </div>
        </div>
    </div>
</div>

<script>
document.getElementById('id_agent').value = {{ request.user.id }}
document.getElementById('id_agent_id').value = {{ request.user.id }}
</script>

{% endblock content %}