{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="jumbotron">
    <div class="container">
          <h1 class="display-3">{{ main_heading }}</h1>
          <p>{{ sub_heading }}</p>
        </div>
    </div>
      <hr class="featurette-divider">
    <div class="container">

      {% for heading in bodydata %}
      <div class="container">
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 {% if forloop.counter|divisibleby:2 == 0  %} order-md-2 {% endif %} ">
          <p class="lead" style="padding-top:150px">{{ heading.description }}</p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="{{ heading.thumbnail.url }}" width="100%" height="100%"/></svg>
        </div>
      </div>
    </div>
    </div>
    {% endfor %}

    <hr class="featurette-divider">        
      </div> <!-- /container -->
{% endblock content %}
